body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: burlywood;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
    color: cadetblue;
}
th, td {
    width: 100%;
    text-align: left;
    color: blue;
    background-color: cornsilk;
}
button{
    background-color: red;
}
label, input{
    width: 100%;

}